.products-card {
width: 300px;
    margin-top: 20px;
    color: burlywood;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.products-card:hover {
      transform: translateY(-6px);
    box-shadow: 5px 17px 20px 0px rgb(0 0 0 / 81%);
    /* border: none; */
    outline: none;
}

.products-card img {
    width: 100%;
    height: 40vh;
    display: block;
}
.product-card-info {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 15px;
    background-color: #394142; 
}

.product-card-info h2 {
  font-size: 20px;
  margin: 4px;
}

.product-card-info p {
  line-height: 1.5;
  font-size: 15px;
  margin: 0;

}
.product-card-info p span{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.card{
   display: grid;
  grid-template-columns: auto auto auto auto;
    gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
.card {
    display: flex;
        flex-direction: column;

}
.products-card {
    width: 100%;
    margin-top: 20px;
    color: burlywood;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}
.product-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 15px;
    background-color: #394142;
}
}