.title h1{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
}
.Cart-page{
        display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
        margin-bottom: 25px;
            margin-top: 50px;

}
.cart-img img{
        width: 100%;
    height: 37vh;
    object-fit: cover;

}
.cart-detail h3{
     font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.total-head h2{
      font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;

}
.total-amt h5{
 font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}
.qty-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-control img {
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
   .Cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 50px;
    gap: 20px;
}
}