@media (Max-width: 768px) {
 }
button {
      border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: burlywood;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
}
button:hover {
background: linear-gradient(180deg, #171819, #41420bc2);
  color: wheat;
}
